fastapi==0.110.0
uvicorn[standard]==0.27.1

# OCR
pytesseract==0.3.10
easyocr==1.7.1
Pillow==10.2.0
pdf2image==1.17.0

# Torch CPU (required by EasyOCR)
torch==2.1.0
torchvision==0.16.0

# HTTP + Utils
httpx==0.27.0
numpy==1.26.4

# Groq LLM API client
openai==1.54.3

# Pydantic
pydantic==2.7.4

# For fuzzy matching
python-Levenshtein==0.25.0
