fastapi
uvicorn[standard]
requests
pdf2image
Pillow
openai>=1.40.0  # for Responses API client with base_url support
python-multipart


httpx
pydantic

paddlepaddle
paddleocr
pytesseract

opencv-python
numpy
easyocr
python-Levenshtein
